<footer class="w-100 text-white text-center" style="background-color: #749eb1;bottom: 0px">
    <div class="w-100">
        <img src="img/logo-footer.png">
    </div>
<<<<<<< HEAD
    <div class="row text-center" style="width: 90;width: 90%;display: flex;justify-content: center;padding-top: inherit;">
        <div class="col-4">
            <span class="d-block center" style="font-size:30px">Empresa</span>
            <span class="d-block" center="">HOME</span>
            <span class="d-block" center="">CATÁLOGO</span>
            <span class="d-block" center="">DETALLE DE PRODUCTO</span>
        </div>
        <div class="col-4">            
            <span class="d-block" style="font-size:30px">CONTACTO</span>
            <span class="d-block" center="">3364687648</span>
            <span class="d-block" center="">fastfood@quiero.com</span>
            <span class="d-block" center="">SAN NICOLÁS DE LOS ARROYOS</span>            
        </div>
        <div class="col-2">                       
            <span class="drop"><img src="img/logo-img-white.png"></span>
        </div>
        </div>
</footer>