<footer class="w-100 text-white text-center" style="background-color: #749eb1;position: fixed;bottom: 0px">
    <div class="w-100">
        <img src="img/logo-footer.png">
    </div>
    <div class="row text-center" style="width:80%">
        <div class="col-6">
            <span class="d-block" style="font-size:30px">Empresa</span>
            <span class="d-block">HOME</span>
            <span class="d-block">CATÁLOGO</span>
            <span class="d-block">DETALLE DE PRODUCTO</span>
        </div>
        <div class="col-6">            
            <span class="d-block" style="font-size:30px">CONTACTO</span>
            <span class="d-block">3356876487</span>
            <span class="d-block">fastfood@quiero.com</span>
            <span class="d-block">SAN NICOLÁS DE LOS ARROYOS</span>            
        </div>
        <div >                       
            <span class="drop"><img src="img/logo-img-white.png"></span>
        </div>
        </div>
</footer>