<header>
    <nav class="navbar">
          <div class="d-inline">
            <a class="navbar-brand" href="#"><img src="img/logo-quiero.png" style="width: 12vw; height: 9vh;"></a>
          </div>
    </nav>
</header>