<header>
    <nav class="navbar">
          <div class="d-inline">
            <a class="navbar-brand" href="#"><img src="img/logo-quiero.png" style="width: 12vw; height: 9vh;"></a>
          </div>
          <div class="d-inline w-50 text-end">
            <div class="d-inline">
                <a class="navbar-brand" href="#">Inicio</a>
            </div>
            <div class="d-inline">
                <a class="navbar-brand" href="#">Menu's</a>
            </div>
            <div class="d-inline">
                <a class="navbar-brand" href="#">Proponer Menu</a>
            </div>
          </div>
    </nav>
</header>