@import url("https://use.typekit.net/wsd2oxj.css"); /*Tipografía principal bello caps pro*/
@import url("https://use.typekit.net/yrf1bfv.css"); /*Tipografía footer Elza*/
body{
    background-image: url("../img/background.png");
}
footer{
    font-family: "Elza Narrow Bold", sans-serif;
}
.drop {
    float: right; 
    padding: 15px;
  }
