<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<br>
<br>
<body>
    <%-include("../partials/header")%>
        Apartado para agregar un menu 
    <%-include("../partials/footer")%>
</body>
</html>