<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>  
<br>
    <div class="w-100">
    <div class="text-center">
        <img src="img/puestadevalor.png">
    </div>
    <div class="row w-100 text-center">
        <div class="col-4 text-center">
            <a href="/products"><img src="img/ensaladas.png"></a>
        </div>
        <div class="col-4 text-center">
            <a href="/products"><img src="img/sandwiches.png"></a>
        </div>
        <div class="col-4 text-center">
            <a href="/products"><img src="img/bebidas.png"></a>
        </div>
    </div>
    <br>
    <br>
        <div class="text-center">
            <img src="img/que-hacemos.png">
        </div>
    <br>
    <br>
    <%-include("../partials/footer")%>
</body>
</html>