<!DOCTYPE html>
<html>
    <%-include("../partials/head")%>
<br>
<br>
<body>
    <%-include("../partials/header")%>
<P>Hola mundo</P>
<P>Hola mundo</P>
<P>Hola mundo</P>
    <%-include("../partials/footer")%>
</body>
</html>